<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/equity_test_bot/src/pokerbots/player/equity_test_bot.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pokerbots.player.equity_test_bot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="equity_test_bot"/>
</launchConfiguration>
